<div class="sg-content">
  <div class="sg-content__intro">
    <p class="t-body -size-l">
      Breadcrumbs are used to help a user find their way.
    </p>
  </div>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Navigation breadcrumbs</h2>
    <p class="t-body">Used in category and item pages</p>

    <div class="sg-content__example">
      <h3 class="t-heading -size-xs">Single</h3>
      <%= code_example('markup') do %>
        <nav class="breadcrumbs">
          <a href="#">Home</a>
        </nav>
      <% end %>
    </div>

    <div class="sg-content__example">
      <h3 class="t-heading -size-xs">Multiple</h3>
      <%= code_example('markup') do %>
        <nav class="breadcrumbs">
          <a href="#">Home</a>
          <a href="#">Admin</a>
          <a href="#">Refunds</a>
        </nav>
      <% end %>
    </div>

    <div class="sg-content__example">
      <h3 class="t-heading -size-xs">Light Text</h3>
      <%= code_example('markup') do %>
        <div style="background-color:#81b254; overflow: auto;">
          <nav class="breadcrumbs -color-light">
            <a href="#">Home</a>
            <a href="#">Admin</a>
            <a href="#">Refunds</a>
          </nav>
        </div>
      <% end %>
    </div>

    <div class="sg-content__example">
      <h3 class="t-heading -size-xs">Size Small</h3>
      <%= code_example('markup') do %>
        <nav class="breadcrumbs -size-s">
          <a href="#">Home</a>
          <a href="#">Admin</a>
          <a href="#">Refunds</a>
        </nav>
      <% end %>
    </div>

    <div class="sg-content__example">
      <h3 class="t-heading -size-xs">Icon Fill</h3>
      <%= code_example('markup') do %>
        <nav class="breadcrumbs -icon-fill">
          <a href="#">Home</a>
          <a href="#">Admin</a>
          <a href="#">Refunds</a>
        </nav>
      <% end %>
    </div>

    <div class="sg-content__example">
      <h3 class="t-heading -size-xs">Line Wrap</h3>
      <%= code_example('markup') do %>
        <nav class="breadcrumbs -line-wrap">
          <a href="#">Lorem</a>
          <a href="#">Ipsum</a>
          <a href="#">Est</a>
          <a href="#">Placidus</a>
          <a href="#">Repressor</a>
          <a href="#">Cesaris</a>
          <a href="#">Sagas</a>
          <a href="#">Sunt</a>
          <a href="#">Gemnas</a>
          <a href="#">De</a>
          <a href="#">Bassus</a>
          <a href="#">Extum</a>
          <a href="#">Caesium</a>
          <a href="#">Peregrinatione</a>
          <a href="#">Omnes</a>
          <a href="#">Historiaes</a>
          <a href="#">Imitari</a>
        </nav>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Progress breadcrumbs</h2>
    <p class="t-body">Used for multi-step scenario, helps inform the user what step they are at and how many more they have to go.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <span class="sg-code--block example">
          <!-- Step 1 -->
          <nav class="breadcrumbs">
            <%= link_to "Shopping Cart", "#", :class => "is-active" %>
            <%= content_tag :a, "Checkout", :class => "is-disabled" %>
            <%= content_tag :a, "Payment", :class => "is-disabled" %>
          </nav>
        </span>

        <span class="sg-code--block example">
          <!-- Step 2 -->
          <nav class="breadcrumbs">
            <%= link_to "Shopping Cart", "#", :class => "is-complete" %>
            <%= content_tag :a, "Checkout", :class => "is-active" %>
            <%= content_tag :a, "Payment", :class => "is-disabled" %>
          </nav>
        </span>

        <span class="sg-code--block example">
          <!-- Step 3 -->
          <nav class="breadcrumbs">
            <%= link_to "Shopping Cart", "#", :class => "is-complete" %>
            <%= link_to "Review order", "#", :class => "is-complete" %>
            <%= content_tag :a, "Payment", :class => "is-active" %>
          </nav>
        </span>
      <% end %>
    </div>
  </section>
</div>
