<div class="sg-content">
  <div class="sg-content__intro">
    <p class="t-body -size-l">Corner elements such as ribbons and triangles are design elements used on relatively positioned containers.</p>
  </div>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Corner ribbon</h2>
    <p class="t-body">A true classic, comes in various sizes and two colors. It overlaps the container's text, make sure you account for that.</p>

    <div class="alert-box">
      <div class="alert-box__message">
        <ul class="t-list">
          <li class="t-body h-remove-margin">The parent container needs to be relatively positioned</li>
        </ul>
      </div>
    </div>

    <% {
        :'Normal size'                                 => 'element-corner--ribbon',
        :'Large size'                                  => 'element-corner--ribbon -size-large',
        :'Positioned left'                             => 'element-corner--ribbon -position-left',
        :'With pointer events (selectable text)'       => 'element-corner--ribbon -has-pointer-events',
        :'Large size, positioned left'                 => 'element-corner--ribbon -position-left -size-large',
        :'Large size, positioned left, color trending' => 'element-corner--ribbon -position-left -size-large -color-trending'
    }.each do |title, html_class| %>
      <div class="sg-content__example">
        <h3 class="t-heading -size-xs"><%= title %></h3>
        <%= code_example('markup') do %>
          <div class="box h-position-relative">
            <div class="<%= html_class %>">
              <div>Text</div>
            </div>
            <p class="t-body">
              Cupcake ipsum dolor. Sit amet sweet roll chocolate cake apple pie dessert caramels muffin marzipan.
              Powder gingerbread chupa chups marshmallow fruitcake tiramisu toffee. Macaroon caramels fruitcake
              chocolate cake pie sweetroll. Chupa chups icing jelly-o jelly cake dessert topping caramels jelly
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Corner triangle</h2>
    <p class="t-body">A variation of the ribbon, generally used to display pricing.</p>
    <% {
        :'Regular size'                                => 'element-corner--triangle',
        :'Large size'                                  => 'element-corner--triangle -size-large',
        :'Large size, positioned left, color trending' => 'element-corner--triangle -position-left -size-large -color-trending'
    }.each do |title, html_class| %>
      <div class="sg-content__example">
        <h3 class="t-heading -size-xs"><%= title %></h3>
        <%= code_example('markup') do %>
          <div class="box h-position-relative">
            <div class="<%= html_class %>">
              <div>$5</div>
            </div>
            <p>
              Cupcake ipsum dolor. Sit amet sweet roll chocolate cake apple pie dessert caramels muffin marzipan.
              Powder gingerbread chupa chups marshmallow fruitcake tiramisu toffee. Macaroon caramels fruitcake
              chocolate cake pie sweetroll.
            </p>
          </div>
        <% end %>
      <% end %>

      <div class="sg-content__example sg-small-boxes">
        <h3 class="t-heading -size-xs">Available colors</h3>
        <div class="sg-grid">
          <% [
            'trending', '3docean', 'activeden',
            'audiojungle', 'codecanyon', 'graphicriver',
            'photodune', 'themeforest', 'videohive'
            ].each do |color| %>
              <div class="sg-grid__item">
                <div class="sg-swatch h-position-relative">
                  <div class="sg-swatch__header">
                    <div class='element-corner--triangle <%= "-color-#{color}" %>'>
                      <div>$</div>
                    </div>
                  </div>
                  <div class="sg-swatch__body">
                    <code><%= "-color-#{color}" %></code>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
      </div>
  </section>
</div>
