<div class="sg-content">
  <div class="sg-content__intro">
    <p class="t-body -size-l">Grids are used to layout content without the need to write custom CSS.</p>
  </div>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Columns</h2>

    <div class="alert-box">
      <div class="alert-box__icon">
        <i class="e-icon -icon-flag"></i>
      </div>
      <div class="alert-box__message">
        <p class="t-body -size-m">
          <strong>Desktop:</strong> <code class="sg-code">l:</code> (12 Columns)<br />
          <strong>Tablet:</strong> <code class="sg-code">m:</code> (8 Columns)<br />
          <strong>Phone:</strong> <code class="sg-code">s:</code> (4 Columns)
        </p>
        <p class="t-body -size-m">
          <code class="sg-code -color-light">start</code> is first item in the row for that breakpoint.<br>
          <code class="sg-code -color-light">end</code> is last item in the row for that breakpoint.
        </p>
      </div>
    </div>
  </section>


  <section class="sg-content__group">
    <h3 class="t-heading -size-s">Desktop breakpoints</h3>
    <p class="t-body">How to set breakpoints for a single breakpoint only. Swap <code class="sg-code">l</code> for <code class="sg-code">m</code> (1-8) or <code class="sg-code">s</code> (1-4)</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <div am-Grid>
          <div class="sg-grid__cell" am-Grid-Col="l:2" am-Grid-Row="l:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="l:4"></div>
          <div class="sg-grid__cell" am-Grid-Col="l:6" am-Grid-Row="l:end"></div>
        </div>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h3 class="t-heading -size-s">Tablet + desktop breakpoints</h3>
    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <div am-Grid>
          <div class="sg-grid__cell" am-Grid-Col="m:2 l:4" am-Grid-Row="m:start l:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="m:3 l:4"></div>
          <div class="sg-grid__cell" am-Grid-Col="m:2 l:4" am-Grid-Row="m:end l:end"></div>
        </div>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h3 class="t-heading -size-s">Mobile + Tablet + Desktop breakpoints</h3>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <div am-Grid>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:1 l:1" am-Grid-Row="s:start m:start l:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:1 l:1"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:1 l:1"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:1 l:1" am-Grid-Row="s:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:2 m:1 l:1" am-Grid-Row="s:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:2 m:1 l:1" am-Grid-Row="s:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:4 m:1 l:1" am-Grid-Row="s:start s:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:1 l:1" am-Grid-Row="s:start m:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:3 m:2 l:1" am-Grid-Row="s:end m:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:2 l:1" am-Grid-Row="s:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:2 m:2 l:1"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:2 l:1" am-Grid-Row="s:end m:end l:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:4 l:2" am-Grid-Row="s:start m:start l:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:4 l:2" am-Grid-Row="m:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:8 l:2" am-Grid-Row="m:start m:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:2 l:2" am-Grid-Row="s:end m:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:4 l:2" am-Grid-Row="s:start "></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:2 l:2" am-Grid-Row="m:end l:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:7 l:3" am-Grid-Row="m:start l:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:1 l:3" am-Grid-Row="s:end m:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:6 l:3" am-Grid-Row="s:start  m:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:2 l:3" am-Grid-Row="m:end l:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:5 l:4" am-Grid-Row="m:start l:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:3 l:4" am-Grid-Row="s:end m:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:4 l:4" am-Grid-Row="s:start m:start l:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:4 l:6" am-Grid-Row="m:end l:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:3 l:6" am-Grid-Row="m:start l:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:5 l:12" am-Grid-Row="s:end m:end l:start l:end"></div>
        </div>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Offset</h2>
    <p class="t-body">Columns can be skipped by offseting them. However you can only offet columns to the left.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <div am-Grid>
          <div class="sg-grid__cell" am-Grid-Col="s:1 m:2 l:4" am-Grid-Row="s:start m:start l:start"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:1 s:pre2 m:2 m:pre4 l:4 l:pre4" am-Grid-Row="s:end m:end l:end"></div>
          <div class="sg-grid__cell" am-Grid-Col="s:2 s:pre1 m:4 m:pre2 l:4 l:pre4" am-Grid-Row="s:start m:start l:start"></div>
        </div>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Different heights test</h2>
    <p class="t-body">Different height columns may cause wierd flow problems. This is a test to show that they behave correctly.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <div am-Grid>
          <div class="sg-grid__cell -height-1" am-Grid-Col="s:1 m:1 l:1" am-Grid-Row="s:start m:start l:start"></div>
          <div class="sg-grid__cell -height-2" am-Grid-Col="s:1 m:1 l:1"></div>
          <div class="sg-grid__cell -height-3" am-Grid-Col="s:1 m:1 l:1"></div>
          <div class="sg-grid__cell -height-4" am-Grid-Col="s:1 m:1 l:1" am-Grid-Row="s:end"></div>
          <div class="sg-grid__cell -height-5" am-Grid-Col="s:2 m:1 l:1" am-Grid-Row="s:start"></div>
          <div class="sg-grid__cell -height-6" am-Grid-Col="s:2 m:1 l:1" am-Grid-Row="s:end"></div>
          <div class="sg-grid__cell -height-7" am-Grid-Col="s:4 m:1 l:1" am-Grid-Row="s:start s:end"></div>
          <div class="sg-grid__cell -height-8" am-Grid-Col="s:1 m:1 l:1" am-Grid-Row="s:start m:end"></div>
          <div class="sg-grid__cell -height-9" am-Grid-Col="s:3 m:2 l:1" am-Grid-Row="s:end m:start"></div>
          <div class="sg-grid__cell -height-10" am-Grid-Col="s:1 m:2 l:1" am-Grid-Row="s:start"></div>
          <div class="sg-grid__cell -height-11" am-Grid-Col="s:2 m:2 l:1"></div>
          <div class="sg-grid__cell -height-12" am-Grid-Col="s:1 m:2 l:1" am-Grid-Row="s:end m:end l:end"></div>
          <div class="sg-grid__cell -height-13" am-Grid-Col="s:1 m:4 l:2" am-Grid-Row="s:start m:start l:start"></div>
          <div class="sg-grid__cell -height-14" am-Grid-Col="s:1 m:4 l:2" am-Grid-Row="m:end"></div>
          <div class="sg-grid__cell -height-15" am-Grid-Col="s:1 m:8 l:2" am-Grid-Row="m:start m:end"></div>
          <div class="sg-grid__cell -height-16" am-Grid-Col="s:1 m:2 l:2" am-Grid-Row="s:end m:start"></div>
          <div class="sg-grid__cell -height-17" am-Grid-Col="s:1 m:4 l:2" am-Grid-Row="s:start "></div>
          <div class="sg-grid__cell -height-18" am-Grid-Col="s:1 m:2 l:2" am-Grid-Row="m:end l:end"></div>
          <div class="sg-grid__cell -height-19" am-Grid-Col="s:1 m:7 l:3" am-Grid-Row="m:start l:start"></div>
          <div class="sg-grid__cell -height-20" am-Grid-Col="s:1 m:1 l:3" am-Grid-Row="s:end m:end"></div>
          <div class="sg-grid__cell -height-21" am-Grid-Col="s:1 m:6 l:3" am-Grid-Row="s:start  m:start"></div>
          <div class="sg-grid__cell -height-22" am-Grid-Col="s:1 m:2 l:3" am-Grid-Row="m:end l:end"></div>
          <div class="sg-grid__cell -height-23" am-Grid-Col="s:1 m:5 l:4" am-Grid-Row="m:start l:start"></div>
          <div class="sg-grid__cell -height-24" am-Grid-Col="s:1 m:3 l:4" am-Grid-Row="s:end m:end"></div>
          <div class="sg-grid__cell -height-25" am-Grid-Col="s:1 m:4 l:4" am-Grid-Row="s:start m:start l:end"></div>
          <div class="sg-grid__cell -height-26" am-Grid-Col="s:1 m:4 l:6" am-Grid-Row="m:end l:start"></div>
          <div class="sg-grid__cell -height-27" am-Grid-Col="s:1 m:3 l:6" am-Grid-Row="m:start l:end"></div>
          <div class="sg-grid__cell -height-28" am-Grid-Col="s:1 m:5 l:12" am-Grid-Row="s:end m:end l:start l:end"></div>
        </div>
      <% end %>
    </div>
  </section>
</div>
