<div class="sg-content">
  <div class="sg-content__intro">
    <p class="t-body -size-l">Display item thumbnails in a row. Horizontal scrollbar when content exceeds its container width</p>
  </div>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Standard</h2>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <ul class="item-thumbnail-carousel overthrow">
          <% (0..6).each do %>
            <li>
              <%= link_to image_tag("guide/item_thumbnail.jpg", :alt => "Fill Murray"), "#" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Empty thumbnails</h2>
    <p class="t-body">Blank thumbnails used to fill space</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <ul class="item-thumbnail-carousel overthrow">
          <% (0..3).each do %>
            <li class="item-thumbnail-container">
              <%= link_to image_tag("guide/item_thumbnail.jpg", :alt => "Fill Murray"), "#" %>
            </li>
          <% end %>
          <% (0..3).each do %>
            <li class="item-thumbnail-container is-empty"></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Ten Item Rows</h2>
    <p class="t-body">Wrap nicely with ten items on a row on desktop view</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <ul class="item-thumbnail-carousel--row-10 overthrow">
          <% (0..20).each do %>
            <li>
              <%= link_to image_tag("guide/item_thumbnail.jpg", :alt => "Fill Murray"), "#" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Irregular Sized Thumbnails</h2>
    <p class="t-body">Handling thumbnails that are not 80x80 in size</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <ul class="item-thumbnail-carousel--irregular-sizes overthrow">
          <% (0..2).each do %>
            <li class="item-thumbnail-container">
              <%= link_to image_tag("guide/item_thumbnail_80_120.jpg", :alt => "coffee beans in a wooden scoop"), "#" %>
            </li>
            <li class="item-thumbnail-container">
              <%= link_to image_tag("guide/item_thumbnail_120_68.jpg", :alt => "green pattern"), "#" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Free Files</h2>
    <p class="t-body">Position the carousel on the right hand side and add text underneath</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <ul class="item-thumbnail-carousel--free-files overthrow">
          <% (0..6).each do %>
            <li>
              <%= link_to image_tag("guide/item_thumbnail.jpg", :alt => "Fill Murray"), "#" %>
              <small>Fil Murray</small>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Featured</h2>
    <p class="t-body">Thumbnail images floated right. Larger margins</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <ul class="item-thumbnail-carousel--featured overthrow">
          <% (0..6).each do %>
            <li>
              <%= link_to image_tag("guide/item_thumbnail.jpg", :alt => "Fill Murray"), "#" %>
              <small>Fil Murray</small>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Item View</h2>
    <p class="t-body">Removed side padding and bottom margin. Narrow item margin</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <ul class="item-thumbnail-carousel--item-page overthrow">
          <% (0..6).each do %>
            <li>
              <%= link_to image_tag("guide/item_thumbnail.jpg", :alt => "Fill Murray"), "#" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </section>

</div>
