<style>
  .sg-outline .media {border: red 1px dashed; padding: 5px;}
  .sg-outline .media__item img {border: #0084b4 1px dashed; padding: 5px;}
  .sg-outline .media__body {border: #82b541 1px dashed; padding: 5px;}
</style>

<div class="sg-content">
  <div class="sg-content__intro">
    <p class="t-body -size-l">
      Media Objects are to be used when you have a media item followed by some related information. Common uses are an avatar with related content next to it. It uses flexbox and can be customised with chainable classes.
    </p>

    <div class="alert-box">
      <div class="alert-box__icon">
        <i class="e-icon -icon-flag"></i>
      </div>
      <div class="alert-box__message">
        <p class="t-body -size-m h-remove-margin"><strong>Please note:</strong> A <span style="border:red 1px dashed; padding: 2px 5px;">colored dashed border</span> has been used for demo purposes to highlight the content boundry.</p>
      </div>
    </div>
  </div>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Elements</h2>
    <p class="t-body">Comprised of an item and accompanying content elements.</p>

    <div class="alert-box -type-alert">
      <div class="alert-box__icon">
        <i class="e-icon -icon-flag"></i>
      </div>
      <div class="alert-box__message">
        <p class="t-body -size-m h-remove-margin">Do not apply <code class="sg-code -color-light">media__item</code> or <code class="sg-code -color-light">media__body</code> to <code class="sg-code -color-light">a</code> or <code class="sg-code -color-light">img</code>. This will please the <=IE10 gods.</p>
      </div>
    </div>


    <div class="sg-content__example sg-outline">
      <%= code_example('markup') do %>
        <!-- Example usage -->
        <div class="media">
          <div class="media__item">
            <%= image_tag "/assets/styleguide/item_thumbnail.jpg", :alt => "Hello World", :width => 80, :height => 80 %>
          </div>
          <div class="media__body">
            <p class="t-body h-remove-margin">Envato is an ecosystem of sites to help you get creative. It includes Envato Market, the leading marketplace for images, themes, project files and creative assets. Envato Studio connects clients with hand-picked freelance talent, and Tuts+ is home to thousands of tutorials and video courses. Our sites and services help millions of people around the world.</p>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Alignment</h2>
    <p class="t-body">Chainable classes on the body element will align using flexbox</p>

    <div class="sg-content__example sg-outline">
      <%= code_example('markup') do %>
        <span class="sg-code--block example">
          <!-- Top (Default) -->
          <div class="media">
            <div class="media__item">
              <%= image_tag "/assets/styleguide/item_thumbnail.jpg", :alt => "Hello World", :width => 80, :height => 80 %>
            </div>
            <div class="media__body">
              Top
            </div>
          </div>
        </span>

        <span class="sg-code--block example">
          <!-- Center -->
          <div class="media">
            <div class="media__item">
              <%= image_tag "/assets/styleguide/item_thumbnail.jpg", :alt => "Hello World", :width => 80, :height => 80 %>
            </div>
            <div class="media__body -align-center">
              Center
            </div>
          </div>
        </span>

        <span class="sg-code--block example">
          <!-- Bottom aligned -->
          <div class="media">
            <div class="media__item">
              <%= image_tag "/assets/styleguide/item_thumbnail.jpg", :alt => "Hello World", :width => 80, :height => 80 %>
            </div>
            <div class="media__body -align-bottom">
              Bottom
            </div>
          </div>
        </span>
      <% end %>
    </div>
  </section>


  <div class="alert-box">
    <div class="alert-box__message">
      <p class="t-heading -size-xs h-remove-margin">No Flexbox Support (IE9)</p>
    </div>
  </div>
  <section class="sg-content__group no-flexbox">
    <div class="sg-content__example sg-outline">
      <span class="sg-code--block example">
          <!-- Top (Default) -->
          <div class="media">
            <div class="media__item">
              <%= image_tag "/assets/styleguide/item_thumbnail.jpg", :alt => "Hello World", :width => 80, :height => 80 %>
            </div>
            <div class="media__body">
              Top
            </div>
          </div>
        </span>

        <span class="sg-code--block example">
          <!-- Center -->
          <div class="media">
            <div class="media__item">
              <%= image_tag "/assets/styleguide/item_thumbnail.jpg", :alt => "Hello World", :width => 80, :height => 80 %>
            </div>
            <div class="media__body -align-center">
              Center
            </div>
          </div>
        </span>

        <span class="sg-code--block example">
          <!-- Bottom aligned -->
          <div class="media">
            <div class="media__item">
              <%= image_tag "/assets/styleguide/item_thumbnail.jpg", :alt => "Hello World", :width => 80, :height => 80 %>
            </div>
            <div class="media__body -align-bottom">
              Bottom
            </div>
          </div>
        </span>
    </div>
  </section>
</div>
