<%
  colors = [ "(default - inherits BG)", "-color-grey-very-dark", "-color-grey-dark", "-color-grey-mid", "-color-grey", "-color-white", "-color-aqua" ]
%>

<%
  themes = [ "-theme-activeden", "-theme-audiojungle", "-theme-themeforest", "-theme-videohive", "-theme-graphicriver", "-theme-3docean", "-theme-codecanyon", "-theme-photodune" ]
%>

<%
  custom = [ "-custom-research", "-custom-badges", "-custom-make-money" ]
%>

<div class="sg-content">
  <div class="sg-content__intro">
    <p class="t-body -size-l">Page-sections are used to divide full-width pages and change the background color.</p>
    <p class="t-body">They have designed to be stackable so you can combine multiple to create a page with different colour sections.</p>
  </div>

  <div class="alert-box">
    <div class="alert-box__icon">
      <i class="e-icon -icon-flag"></i>
    </div>
    <div class="alert-box__message">
      <p class="t-body -size-m h-remove-margin"><strong>Please note:</strong> A <span style="border:red 1px dashed; padding: 2px 5px;">red dashed border</span> has been used for demo purposes to highlight the content boundry and where the padding starts.</p>
    </div>
  </div>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Sizes</h2>
    <p class="t-body"><code class="sg-code">page-section</code> is a full width container with backgrounds styles and some top/bottom padding. In most cases a <code class="sg-code">grid-container</code> is needed inside to center align the content to the grid width.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <!-- Default size -->
        <section class="page-section -theme-audiojungle">
          <div class="grid-container" style="border:red 1px dashed;">
            <h2 class="t-heading -size-m h-remove-margin">AudioJungle</h2>
          </div>
        </section>

        <!-- Compact size -->
        <section class="page-section -theme-photodune -size-compact">
          <div class="grid-container" style="border:red 1px dashed;">
            <h2 class="t-heading -size-m h-remove-margin">PhotoDune</h2>
          </div>
        </section>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Colors</h2>
    <p class="t-body">Text colour will be set depending on the strength of the background colour.</p>

    <div class="sg-content__example">

    <% colors.each do |scenario| %>
      <section class="page-section <%= scenario %>">
        <div class="grid-container" style="border:red 1px dashed;">
          <code><%= scenario.to_s %></code>
        </div>
      </section>
    <% end %>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Themes</h2>
    <p class="t-body">Each Marketplace has a 'theme' page-section.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>

        <% themes.each do |scenario| %>
          <section class="page-section <%= scenario %>">
            <div class="grid-container" style="border:red 1px dashed;">
              <code><%= scenario.to_s %></code>
            </div>
          </section>
        <% end %>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Borders</h2>
    <p class="t-body">A 1px grey border can be added to help the contrast in combination with lighter backgrounds.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>

        <section class="page-section -color-grey -border-top -border-bottom">
          <div class="grid-container" style="border:red 1px dashed;">
            <code>Top + Bottom border</code>
          </div>
        </section>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Custom</h2>
    <p class="t-body">Landing pages often require a bespoke <code class="sg-code">page-section</code> using custom background imagery and padding.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>

        <% custom.each do |scenario| %>
          <section class="page-section <%= scenario %>">
            <div class="grid-container" style="border:red 1px dashed;">
              <code><%= scenario.to_s %></code>
            </div>
          </section>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
