<div class="sg-content">
  <div class="sg-content__intro">
    <p class="t-body">Tables are very commonly used in Envato Market to display a list of information, such as records, a comparison of multiple items, licenses, or financial details.</p>
  </div>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Default</h2>
    <p class="t-body">Use the Default Table to display plain information.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <table class="table-general">
          <%= render 'guide/content/ui_library/ui_components/fixtures/tbody' %>
        </table>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Highlight Row</h2>
    <p class="t-body">Use Highlight Row Table when you need to display a long list of information. It allows users to focus on one row at a time and ease the eye.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <table class="table-general -highlight-row">
          <%= render 'guide/content/ui_library/ui_components/fixtures/tbody' %>
        </table>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Striped</h2>
    <p class="t-body">Striped table has similar function to a highlight row table, it helps break up a long list of information being displayed. It can be combined to increase the effectiveness of viewing a large amount of information.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <table class="table-general -striped -highlight-row">
          <%= render 'guide/content/ui_library/ui_components/fixtures/tbody' %>
        </table>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Horizontal Bordered</h2>
    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <table class="table-general -bordered-h">
          <%= render 'guide/content/ui_library/ui_components/fixtures/tbody' %>
        </table>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Vertical Bordered</h2>
    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <table class="table-general -bordered-v">
          <%= render 'guide/content/ui_library/ui_components/fixtures/tbody' %>
        </table>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Horizontal + Vertical Bordered</h2>
    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <table class="table-general -bordered-h -bordered-v">
          <%= render 'guide/content/ui_library/ui_components/fixtures/tbody' %>
        </table>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Footered</h2>
    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <table class="table-general -has-footer">
          <%= render 'guide/content/ui_library/ui_components/fixtures/tfooter' %>
          <%= render 'guide/content/ui_library/ui_components/fixtures/tbody' %>
        </table>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Comparison (Row)</h2>
    <p class="t-body">The row comparison table can be used to compare 2 or more products side by side, with rows representing the different product attributes.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <%= render 'guide/content/ui_library/ui_components/fixtures/comparison_table' %>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Comparison (Column)</h2>
    <p class="t-body">The column comparison table serves the same purpose as the row comparison table, but with more in-depth details and information displayed.</p>

    <div class="alert-notification">
      <p class="t-body -size-m h-remove-margin"><strong>Note:</strong> Requires Javascript <code class="sg-code">data-view="tableHighlightColumn"</code></p>
    </div>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <%= render 'guide/content/ui_library/ui_components/fixtures/comparison_table_column' %>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Comparison (Selected Column)</h2>
    <p class="t-body">Selected column table has a pre-selected or highlighted column for when a specific column needs to be emphasized. For example: it could mean that’s the product the user is currently on, or highlight a product that we are trying to promote.</p>

    <div class="alert-notification">
      <p class="t-body -size-m h-remove-margin"><strong>Note:</strong> Requires Javascript <code class="sg-code">data-view="tableHighlightColumn"</code></p>
    </div>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <%= render 'guide/content/ui_library/ui_components/fixtures/comparison_table_column_selected' %>
      <% end %>
    </div>
  </section>
</div>
