<div class="sg-content">
  <div class="sg-content__intro">
    <p class="t-body -size-l">Not all forms are the same, often for UX reasons we want forms to be laid out differently.</p>
    <p class="t-body">Forms <code class="sg-code">e-form</code> have one responsibility and that is to layout and reorder the form attributes.</p>
    <p class="t-body">Using flexbox means that all forms now use the same HTML markup as elements no longer need to be in the correct order since we have the ability to reorder elements using CSS.</p>

    <div class="alert-box">
      <div class="alert-box__icon">
        <i class="e-icon -icon-flag"></i>
      </div>
      <div class="alert-box__message">
        <p class="t-body -size-m h-remove-margin">All the inputs element styling is handled by <%= link_to "Inputs", Guide::Engine.routes.url_helpers.node_path('ui_library/ui_components/inputs') %></p>
      </div>
    </div>
  </div>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Vertical (default)</h2>
    <p class="t-body">Full width stacked form, with hint underneath the input.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <form class="e-form -layout-vertical">
          <div class="e-form__group">
            <div class="e-form__label">First Name</div>
            <div class="e-form__input">
              <input class="f-input -type-string" id="test" name="test" size="50" type="text">
            </div>
            <div class="e-form__hint">Given Name</div>
          </div>

          <div class="e-form__group">
            <div class="e-form__label">First Name</div>
            <div class="e-form__input">
              <input class="f-input -type-string is-invalid" id="test" name="test" size="50" type="text">
            </div>
            <div class="e-form__response">Please provide a valid name.</div>
            <div class="e-form__hint">Given Name</div>
          </div>
        </form>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Vertical inline</h2>
    <p class="t-body">Full width stacked form, with hint inline next to label.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <form class="e-form -layout-vertical-inline">
          <div class="e-form__group">
            <div class="e-form__label">First Name</div>
            <div class="e-form__input">
              <input class="f-input -type-string" id="test" name="test" size="50" type="text">
            </div>
            <div class="e-form__hint">(Given Name)</div>
          </div>

          <div class="e-form__group">
            <div class="e-form__label">First Name</div>
            <div class="e-form__input">
              <input class="f-input -type-string is-invalid" id="test" name="test" size="50" type="text">
            </div>
            <div class="e-form__response">Please provide a valid name.</div>
            <div class="e-form__hint">(Given Name)</div>
          </div>
        </form>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Horizontal</h2>
    <p class="t-body">Form, with label offset from form inputs, hints and errors.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <form class="e-form -layout-horizontal">
          <div class="e-form__group">
            <div class="e-form__label">First Name</div>
            <div class="e-form__input">
              <input class="f-input -type-string" id="test" name="test" size="50" type="text">
            </div>
            <div class="e-form__hint">Given Name</div>
          </div>

          <div class="e-form__group">
            <div class="e-form__label">First Name</div>
            <div class="e-form__input">
              <input class="f-input -type-string is-invalid" id="test" name="test" size="50" type="text">
            </div>
            <div class="e-form__response">Please provide a valid name.</div>
            <div class="e-form__hint">Given Name</div>
          </div>
        </form>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Example variations</h2>
    <p class="t-body">It is possible to use multiple form layouts within in the one form, and using util helpers to add styling changes is allowed.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <form class="e-form -layout-vertical">
          <div class="e-form__group">
            <div class="e-form__label">This is the worlds longest label and can be found on page 77 on the 2014 Guinness Book of Records</div>
            <div class="e-form__input">
              <input class="f-input -type-string -width-full" id="test" name="test" size="50" type="text">
            </div>
            <div class="e-form__hint h-text-align-right">300 characters remaining</div>
          </div>

          <div class="e-form -layout-horizontal">
            <div class="e-form__group">
              <div class="e-form__label">This is the worlds longest label and can be found on page 77 on the 2014 Guinness Book of Records</div>
              <div class="e-form__input">
                <textarea class="f-input -type-text" cols="40" id="text_test" name="" rows="20"></textarea>
              </div>
              <div class="e-form__hint h-text-align-right">300 characters remaining</div>
            </div>
          </div>
        </form>
      <% end %>
    </div>

    <div class="sg-content__example">
      <h3 class="t-heading -size-xs">Form hint links</h3>
      <p class="t-body">You may need to apply a link to a form hint, which is styled as a paragraph typography link.</p>
      <%= code_example('markup') do %>
        <form class="e-form -layout-vertical">
          <div class="e-form__group">
            <div class="e-form__label">First Name</div>
            <div class="e-form__input">
              <input class="f-input -type-string" id="test" name="test" size="50" type="text">
            </div>
            <div class="e-form__hint">Given Name - <a href="#">What is a given name?</a></div>
          </div>

          <div class="e-form__group">
            <div class="e-form__label">First Name</div>
            <div class="e-form__input">
              <input class="f-input -type-string is-invalid" id="test" name="test" size="50" type="text">
            </div>
            <div class="e-form__response">Please provide a valid name.</div>
            <div class="e-form__hint">Given Name - <a href="#">What is a given name?</a></div>
          </div>
        </form>
      <% end %>
    </div>
  </section>


  <div class="alert-box">
    <div class="alert-box__message">
      <p class="t-heading -size-xs h-remove-margin">No Flexbox Support (IE9)</p>
    </div>
  </div>
  <section class="sg-content__group no-flexbox">
    <div class="sg-content__example">
      <form class="e-form -layout-vertical">
        <h3 class="t-heading -size-xs">Vertical (default)</h3>
        <div class="e-form__group">
          <div class="e-form__label">Label</div>
          <div class="e-form__input">
            <input class="f-input -type-string" id="test" name="test" size="50" type="text">
          </div>
          <div class="e-form__response">Error</div>
          <div class="e-form__hint">Hint</div>
        </div>
      </form>
    </div>

    <div class="sg-content__example">
      <form class="e-form -layout-vertical-inline">
        <h3 class="t-heading -size-xs">Vertical inline</h3>
        <div class="e-form__group">
          <div class="e-form__label">Label</div>
          <div class="e-form__input">
            <input class="f-input -type-string" id="test" name="test" size="50" type="text">
          </div>
          <div class="e-form__response">Error</div>
          <div class="e-form__hint">Hint</div>
        </div>
      </form>
    </div>

    <div class="sg-content__example">
     <form class="e-form -layout-horizontal">
      <h3 class="t-heading -size-xs">Horizontal</h3>
        <div class="e-form__group">
          <div class="e-form__label">Label</div>
          <div class="e-form__input">
            <input class="f-input -type-string" id="test" name="test" size="50" type="text">
          </div>
          <div class="e-form__response">Error</div>
          <div class="e-form__hint">Hint</div>
        </div>
      </form>
    </div>
  </section>
</div>
