<div class="sg-content">
  <div id="intro" class="sg-content__intro">
    <p class="t-body -size-l">
      There are no default styles applied to <code class="sg-code">p</code> <code class="sg-code">small</code> <code class="sg-code">li</code> etc
      <br class="is-hidden-tablet-and-below" />
      instead we use utility classes to style all text on demand for greater control.
    </p>

    <div class="alert-box">
      <div class="alert-box__icon">
        <i class="e-icon -icon-flag"></i>
      </div>
      <div class="alert-box__message">
        <p class="t-body -size-m h-remove-margin">
          <strong>Note:</strong> Please see the <%= link_to "Branding Typography", Guide::Engine.routes.url_helpers.node_path('branding/how_we_look/typography') %> section for the rules on how to correctly use these typography classes.
        </p>
      </div>
    </div>
  </div>

  <section class="sg-content__group">
    <h2 id="sizes" class="t-heading -size-m">Sizes</h2>
    <p class="t-body">Body text sizes can be applied to any heading element but please use your SEO common sense.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <!-- Extra Large -->
        <p class="t-body -size-xl">Paragraph</p>

        <!-- Large -->
        <p class="t-body -size-l">Paragraph</p>

        <!-- Default -->
        <p class="t-body">Paragraph</p>

        <!-- Medium -->
        <p class="t-body -size-m">Paragraph</p>

        <!-- Small -->
        <p class="t-body -size-s">Paragraph</p>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 id="links" class="t-heading -size-m">Links</h2>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <!-- Default link style -->
        <p class="t-body">Paragraph with <%= link_to "link", "#" %></p>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 id="color" class="t-heading -size-m">Colors</h2>
    <p class="t-body">Body text colors are purposely limited, however they can inherit color from their parent. Most times you will only want to change the color if the background is dark.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <!-- Default (Dark) -->
        <span class="sg-code--block example">
          <p class="t-body">Paragraph default color</p>
        </span>

        <!-- Mid text for dark backgrounds -->
        <span class="sg-code--block example">
          <p class="t-body -color-mid">Paragraph mid color</p>
        </span>

        <!-- Light text for dark backgrounds -->
        <span class="box -color-green sg-code--block example">
          <p class="t-body -color-light">Paragraph light color</p>
        </span>

        <!-- Inherit colour from parent -->
        <span style="color:orange;">
          <p class="t-body -color-inherit">Paragraph inherit color</p>
        </span>
      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 id="weights" class="t-heading -size-m">Weights & Styles</h2>
    <p class="t-body">There may be a special case were you need to bolden or italicize a whole paragraph or element without wanting to use <code class="sg-code">strong</code> or <code class="sg-code">em</code> tags.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <!-- Bold body text -->
        <p class="t-body -weight-bold">Bold Paragraph text</p>

        <!-- Italic body text -->
        <p class="t-body -style-italic">Italic Paragraph text</p>
      <% end %>
    </div>
  </section>
</div>
