<div class="sg-content">
  <div id="intro" class="sg-content__intro">
    <p class="t-body -size-l">
      There are no default styles applied to an icon list, modifier classes are applied for the icon on each <code class="sg-code">li</code>
    </p>
  </div>

  <section class="sg-content__group">
    <h2 id="default" class="t-heading -size-m">Default styling with icon modifiers</h2>
    <div class="sg-content__example">
      <%= code_example('markup') do %>

        <ul class="t-icon-list">
          <li class="t-icon-list__item -icon-ok">This is the first list item.</li>
          <li class="t-icon-list__item -icon-ok">This is the second and best list item.</li>
          <li class="t-icon-list__item -icon-cancel">This is the third<br> and is a multi line list item.</li>
          <li class="t-icon-list__item -icon-cancel">This is the fourth and worst list item.</li>
          <li class="t-icon-list__item">This is the fifth and most bare, sans icon.</li>
          <li class="t-icon-list__item -icon-caret">This is a multiline<br> caret styled<br>list.</li>
        </ul>

      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 id="icon-size" class="t-heading -size-m">Icon Size</h2>
    <p class="t-body">Applying icon size on the list will give you control over how large the icons will be rendered.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>

        <!-- Icon Size Small -->
        <ul class="t-icon-list -icon-size-s">
          <li class="t-icon-list__item -icon-ok">This is the first list item.</li>
          <li class="t-icon-list__item -icon-ok">This is the second and best list item.</li>
          <li class="t-icon-list__item -icon-cancel">This is the third and worst list item.</li>
          <li class="t-icon-list__item -icon-caret">This is the fourth list item.</li>
        </ul>

        <!-- Icon Size Medium / Default -->
        <ul class="t-icon-list -icon-size-m">
          <li class="t-icon-list__item -icon-ok">This is the first list item.</li>
          <li class="t-icon-list__item -icon-ok">This is the second and best list item.</li>
          <li class="t-icon-list__item -icon-cancel">This is the third and worst list item.</li>
          <li class="t-icon-list__item -icon-caret">This is the third and worst list item.</li>
        </ul>

      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 id="font-size" class="t-heading -size-m">Font Size</h2>
    <p class="t-body">Applying font size on the list will allow you to control the font size</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>

        <!-- Font Size Small -->
        <ul class="t-icon-list -font-size-s">
          <li class="t-icon-list__item -icon-ok">This is the first list item.</li>
          <li class="t-icon-list__item -icon-ok">This is the second and best list item.</li>
          <li class="t-icon-list__item -icon-cancel">This is the third and worst list item.</li>
          <li class="t-icon-list__item -icon-caret">This is the third and worst list item.</li>
        </ul>

        <!-- Font Size Small with Icon Size Small-->
        <ul class="t-icon-list -font-size-s -icon-size-s">
          <li class="t-icon-list__item -icon-ok">This is the first list item.</li>
          <li class="t-icon-list__item -icon-ok">This is the second and best list item.</li>
          <li class="t-icon-list__item -icon-cancel">This is the third and worst list item.</li>
          <li class="t-icon-list__item -icon-caret">This is the third and worst list item.</li>
        </ul>

        <!-- Font Size Medium / Default -->
        <ul class="t-icon-list -font-size-m">
          <li class="t-icon-list__item -icon-ok">This is the first list item.</li>
          <li class="t-icon-list__item -icon-ok">This is the second and best list item.</li>
          <li class="t-icon-list__item -icon-cancel">This is the third and worst list item.</li>
          <li class="t-icon-list__item -icon-caret">This is the third and worst list item.</li>
        </ul>

      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 id="icon-colour" class="t-heading -size-m">Icon Colour</h2>
    <p class="t-body">Changing the icon colour does not affect the the text colour of the list item</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>

        <!-- Colour Grey / Default -->
        <ul class="t-icon-list">
          <li class="t-icon-list__item -icon-ok -color-grey">This is the first list item.</li>
          <li class="t-icon-list__item -icon-ok -color-grey">This is the second and best list item.</li>
          <li class="t-icon-list__item -icon-cancel -color-grey">This is the third and worst list item.</li>
          <li class="t-icon-list__item -icon-caret -color-grey">This is the third and worst list item.</li>
        </ul>

        <!-- Colour dark -->
        <ul class="t-icon-list">
          <li class="t-icon-list__item -icon-ok -color-dark">This is the first list item.</li>
          <li class="t-icon-list__item -icon-ok -color-dark">This is the second and best list item.</li>
          <li class="t-icon-list__item -icon-cancel -color-dark">This is the third and worst list item.</li>
          <li class="t-icon-list__item -icon-caret -color-dark">This is the third and worst list item.</li>
        </ul>

        <!-- Colour light -->
        <div class="box -color-dark">
          <ul class="t-icon-list">
            <li class="t-icon-list__item -icon-ok -color-light">This is the first list item.</li>
            <li class="t-icon-list__item -icon-ok -color-light">This is the second and best list item.</li>
            <li class="t-icon-list__item -icon-cancel -color-light">This is the third and worst list item.</li>
            <li class="t-icon-list__item -icon-caret -color-light">This is the third and worst list item.</li>
          </ul>
        </div>

      <% end %>
    </div>
  </section>

  <section class="sg-content__group">
    <h2 id="icon-offset" class="t-heading -size-m">Icon List Offset</h2>
    <p class="t-body">By default the icon list applies margin so it's indented against other website copy. If you want it to be flush like other content, use the offset variation. Looking at the CSS the margin is not 0 as we have to use some magic numbers to make the icon play nice with line-height / positioning / multi line list items.</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>

        <!-- Offset flush -->
        <ul class="t-icon-list -offset-flush">
          <li class="t-icon-list__item -icon-ok">This is the first list item.</li>
          <li class="t-icon-list__item -icon-ok">This is the second and best list item.</li>
          <li class="t-icon-list__item -icon-cancel">This is the third and worst list item.</li>
          <li class="t-icon-list__item -icon-caret">This is the third and worst list item.</li>
        </ul>

        <!-- Default (comparison) -->
        <ul class="t-icon-list">
          <li class="t-icon-list__item -icon-ok">This is the first list item.</li>
          <li class="t-icon-list__item -icon-ok">This is the second and best list item.</li>
          <li class="t-icon-list__item -icon-cancel">This is the third and worst list item.</li>
          <li class="t-icon-list__item -icon-caret">This is the third and worst list item.</li>
        </ul>

      <% end %>
    </div>
  </section>
</div>
