<div class="sg-content">
  <div id="intro" class="sg-content__intro">
    <p class="t-body -size-l">These are text labels. They're used to label things. Mostly. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
  </div>

  <section class="sg-content__group">
    <h2 id="color" class="t-heading -size-m">Colors</h2>
    <p class="t-body">When using this Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    <% colors = ["blue", "green", "green-bright", "green-dark", "grey-light", "grey", "grey-medium", "grey-dark", "orange", "red", "salmon"] %>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <% colors.each do |color| %>
          <% color_name = color.titleize.tr('-', ' ') %>
          <span class="sg-code--inline example">
            <!-- Solid <%= color_name %> label -->
            <span class="e-text-label -color-<%= color %>"><%= color_name %></span>
          </span>
        <% end %>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 id="colors-reversed" class="t-heading -size-m">Reversed Colors</h2>
    <p class="t-body">When using this Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <% colors.each do |color| %>
          <% color_name = color.titleize.tr('-', ' ') %>
          <span class="sg-code--inline example">
            <!-- Reversed <%= color_name %> label -->
            <span class="e-text-label--reversed -color-<%= color %>"><%= color_name %></span>
          </span>
        <% end %>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 id="size" class="t-heading -size-m">Sizes</h2>
    <p class="t-body">When using this Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <span class="sg-code--inline example">
          <!-- Default text label -->
          <span class="e-text-label">default</span>
        </span>

        <span class="sg-code--inline example">
          <!-- Small text label -->
          <span class="e-text-label -size-s">Small</span>
        </span>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 id="width" class="t-heading -size-m">Width</h2>
    <p class="t-body">When using this Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <span class="sg-code--inline example">
          <!-- Regular text label -->
          <span class="e-text-label">regular</span>
        </span>

        <span class="sg-code--inline example">
          <!-- Medium-width text label -->
          <span class="e-text-label -width-medium">medium</span>
        </span>

        <span class="sg-code--block example">
          <!-- Full-width text label -->
          <span class="e-text-label -width-full">full width</span>
        </span>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 id="position" class="t-heading -size-m">Position</h2>
    <p class="t-body">When using this Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <div class="sg-content__example" style="line-height:2.5;">
      <%= code_example('markup') do %>
        <span class="sg-code--block example">
          <!-- Small default text label -->
          This is a <span class="e-text-label -size-s">small default</span> text label.
        </span>

        <span class="sg-code--block example">
          <!-- Small top text label -->
          This is a <span class="e-text-label -size-s -position-top">small top</span> text label.
        </span>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 id="fade" class="t-heading -size-m">Fade</h2>
    <p class="t-body">Used for UI feedback to let a user know an operation has successfuly or unsuccessfuly performed</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <span class="sg-code--inline example">
          <!-- Fade in-out -->
          <span class="e-text-label -color-green -fade-in-out">Fade in-out</span>
        </span>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 id="examples" class="t-heading -size-m">Mix'n Match™</h2>
    <p class="t-body">When using this Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <span class="sg-code--block example">
          <!-- Forums -->
          Jacques Citizen <a href="#" class="e-text-label -color-green -size-s -position-top">Le Moderator</a>
        </span>

        <span class="sg-code--block example">
          <!-- Withdrawals -->
          <span class="e-text-label -color-orange -width-medium">Single</span>
        </span>

        <span class="sg-code--block example">
          <!-- Statements -->
          <span class="e-text-label--reversed -color-grey">SWIFT Fee Reversal</span>
        </span>

        <span class="sg-code--block example">
          <!-- Shopping Cart -->
          PhotoDune Extended License
          <span class="e-text-label -color-grey -size-s">Extra Large</span>
        </span>

        <span class="sg-code--block example">
          <!-- Exclusivity Agreement -->
          <span class="e-text-label -color-green-bright">Your current agreement</span>
        </span>
      <% end %>
    </div>
  </section>
</div>
